[target.x86_64-unknown-linux-musl]
rustflags = "-Ctarget-feature=+crt-static -Clink-self-contained=yes -Crelocation-model=static"

[target.armv7-unknown-linux-musleabihf]
linker = "arm-buildroot-linux-musleabihf-gcc"

[target.aarch64-unknown-linux-musl]
linker = "aarch64-buildroot-linux-musl-gcc"

[target.mipsel-unknown-linux-musl]
linker = "mipsel-buildroot-linux-musl-gcc"
rustflags = "-Ctarget-feature=+crt-static -Clink-self-contained=yes -Crelocation-model=static"
